[submodule "zenn_ai_agent_hackathon_2_backend"]
	path = zenn_ai_agent_hackathon_2_backend
	url = git@github.com:yamamomo2022/zenn_ai_agent_hackathon_2_backend.git
[submodule "zenn_ai_agent_hackathon_2_frontend"]
	path = zenn_ai_agent_hackathon_2_frontend
	url = git@github.com:yamamomo2022/zenn_ai_agent_hackathon_2_frontend.git
    